@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  


  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(89, 129, 216);
    border-radius: 10px;
    border: 2px solid #2c3e50;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #1a2430;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #3a3a3a;
    /* border-radius: 10px; */
  }
  